<!-- <div class="container">
    <h1 class="text-center">Market Details</h1>
    <p class="text-center">
      <a href= '/'>Home Page</a>
    </p>
  
    <% market.forEach(function(market) { %>
      <div class="deets">
        <h2><%= market.name %></h2>
        <form method="GET" action="market/<%= market.name %>">
            < <input hidden type="text" name="id" value="<%= market.id %>"> -->
          <!---  <input hidden type="text" name="name" value="<%=market.name%>">
            <button class="btn btn-primary" type="submit">Add Market to Favorites</button>
          </form>
      </div>
    <% }); %>
  </div> -->

