<h1>Favorite Markets</h1>
<ul>
<h3><% favorites.forEach(favorite => { %>
  <li><%= favorite.name %></li>   
  <form method="POST" action="/favorite/<%= favorite.name %>/?_method=DELETE">
    <input type="submit" value="Delete">
  </form>
 <% }) %> 
</h3>
</ul>
<script>
  let currentUser = localStorage.getItem('user')
  console.log(`FYI the current user is: ${currentUser}`)
</script> 

<a href="/">Home Page</a>



