<style>
  body {
    background-image: url('/images/home_page_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15%;
    color: white;
  }
  </style>  
  <div class="container">
  <h1 class="text-center">WELCOME TO MARKET MATCH!</h1>
  <h2 class="text-center">
    We'll help you find the farmers markets near you.
    Enter your name and zip code below to get started.
  </h2> 

  <form action="/list" method="POST">
      <div class="text-center">
          <label for="name">Your Name</label>
          <input type="text" id="name" name='name' required />
      </div>
        
      <div class="text-center">
          <label for="content">Your Zip Code</label>
          <input type="integer" id="zipcode" name='zipcode' required />
      </div>
      <button class="btn btn-primary">Find my market!</button> 
  </form>
</div>

  